<h1>this is the contact page!</h1>
<p>Please see my contacts below!</p>
<p>this is my name: <%= contact.name %> </p>
<p>this is my email: <%= contact.email %> </p>
<p>this is my fax: <%= contact.fax %></p>
<p>this is my phone number: <%= contact.phone %> </p>