<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill Site</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/skills">Skills</a> |
        <a href="/contact">Contact</a>
    </nav>
    <%- body %>
</body>
</html> %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miguel's Homepage</title>
</head>
<body>
    
<h1>Welcome to Miguel's Homepage!</h1>
<h3>Hello! Please see the the following links</h3>
<ol>
    <a href="/">Home</a>
    <a href="/skills">Skills</a>
    <a href="/contact">Contact</a>
</ol>

<%- body %>

</body>
</html>